.hidden {
    display: none;
}

#index-body{
   background-color:#080710;
 
}
#todo-body{
    background-color: black;
}

#quote span:first-child{
    color:#ffffff;
}
#quote span:last-child{
    color:#23a2f6;
}
#clock{
    position:absolute;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 90%;
}
.greeting{
    position:absolute;
    color:#ffffff;
    margin-top: 10px;
    font-size: 20px;
}
.index-background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.index-background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.index-background .shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -20px;
}
.index-background .shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -70px;
    bottom: -10px;
}

#login-form{
    height: 320px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding : 50px 35px;
}
#todo-form{
    height: 30px;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(8,7,16,0.6);
    padding : 20px 15px;
}
form *{
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border:none;
}
form h3{
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
}

#login-input{
    display: block;
    height: 45px;
    width: 90%;
    background-color:rgba(31, 141, 226, 0.07);
    border-radius: 3px;
    padding:0 10px;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 300;
}
#todo-input{
    height: 50%;
    width: 70%;
    background-color:rgba(122, 107, 122, 0.493);
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}
::placeholder{
    color:#ffffff;
    font-weight: 100;
}
#login-button{
    margin-top: 50px;
    width:100%;
    background-color:#ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

}
.todo-button{
    background-color:#f09819;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#todo-list{

    height: 260px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(8,7,16,0.6);
    padding : 50px 35px;
}

#todo-list span{
    font-size: 15px;
    color:#ffffff;
}
#todo-list button{
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color:seashell;
    color: #1845ad;
    border-radius: 3px;
    padding: 1px;
    font-size: 16px;
    margin: 2px 4px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.1);
}